{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/profile.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}
    <h5>{{ erro_message }}</h5>
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <!-- <label>Name</label>
        <input type="text" placeholder="name" name="name"> -->
        <label>How do you identify yourself?</label>
        <select name="role">
            <option selected>individual</option>
            <option >medical_unit</option>
            <option >military_unit</option>
        </select>
        <button>
            {% if sosuser.verified %}
                Update
            {% else %}
                Save
            {% endif %}
        </button>
    </form>
</body>
</html>
