{% extends 'support_ukraine/base.html' %}

{% block page_title %}
    SOS
{% endblock %}

{% block content %}
    {% if role == 'individual' %}
        {{ sos_message_sent }}
        {% include 'home/sos_form.html' %}
    {% else %}
        {% for message in sos_messages %}
            <h3>{{ message.sos_message.number_of_people }} people</h3>
            <a target="_blank" href="{{ message.sos_message.maps_location }}">Maps Location</a>
            <p>{{ message.sos_message.extra_message }}</p>
            <form action="{% url 'rescued' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ role }}" name="role">
                <input type="hidden" value="{{ message.id }}" name="rescued_id">
                <button>Rescued</button>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}