{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet"  href="{% static 'includes/header.css' %}">
</head>
<body>
    <div class="header-out">
            <span class="header-in-left">
               LOGO
            </span>
            <span class="header-in-mid">
                <h1>SOS Ukraine</h1>
            </span>
            <span class="header-in-right">
                <span><a href="{% url 'soshome' %}">Home</a></span>
                <span><a href="{% url 'lost_and_found' %}">Lost and Found</a></span>
                <span><a href="{% url 'profile' %}">My Profile</a></span>
                <span>
                    {% if user.is_authenticated %}
                        <a href="{% url 'account_logout' %}">LogOut</a>
                    {% endif %}
                </span>
            </span>
    </div>
</body>
</html>