{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'lost_and_found/lost_and_found.css' %}">
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="lost-outer">
        <div class="lost-header">
            <form action="{% url 'lost_and_found' %}" method="POST" class="lostform">
                {% csrf_token %}
                <label>Name:</label>
                <input type="text" placeholder="Enter Name" name="name">
                <label>Date of Birth:</label>
                <input type="date" placeholder="date of birth" name="date_of_birth">
                <button class="lostform-button">Filter <i class="fa fa-filter"></i></button>
            </form>
            <a href="{% url 'report_missing' %}">Report Missing</a>
        </div>
        <div class="lost-main">
            {% for person in missing_person_list %}
                <div class="lost-inside">
                    <img src="{{ person.image.url }}" width="200" height="150">
                    <h3>{{ person.name }}</h3>
                    <p>Date of birth: {{ person.date_of_birth }}</p>
                    <p>Birth mark: {{ person.birth_mark }}</p>
                    <p>Missing Since: {{ person.date_missing }}</p>
                    <p>Last seen at: {{ person.place_seen_last_time }}</p>
                    {% if role != 'individual' %}
                        <form action="{% url 'missing_person_found' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ person.id }}" name="person_id">
                            <button id="lost-and-found-found-button">Found &#10004</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% include 'includes/footer.html' %}
</body>
</html>

