.sos-outer{
    background-color: rgb(245, 245, 255);
    /* border: 0.2rem solid black; */
    /* width: 100%; */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;   
    font-family: 'Roboto Condensed', sans-serif;
}
.sos-mid{
    /* border: 0.2rem solid black; */
    /* width: 60%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.sos-main{
    /* border: 0.2rem solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #3385ff;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 1rem;
}
.sos-main:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0px 0px 30px #91a4e4;
}
.sos-main a{
    font-size: large;
    color: white;
    /* text-decoration: none; */
}
.sos-button{
    border-radius: 0.5rem;
    font-size: large;
    text-align: center;
    padding: 0.7rem;
    background-color: #00ab66;
    border: none;
}