.outer{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-family: 'Roboto Condensed', sans-serif;
}
.mid{
    border-radius: 0.5rem;
    background-color: #3385ff;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 8.5rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nopeople,.assistance,.message,.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
}
label{
    margin-bottom: 0.5rem;
}
input
{
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    background-color: whitesmoke;
}
select{
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    background-color: whitesmoke;  
    color: #595959; 
}
option{
    border-radius: 0.2rem;
    padding: 0.5rem;
    background-color: whitesmoke;
}
.button{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sos-form-button{
    border-radius: 0.5rem;
    font-size: large;
    text-align: center;
    padding: 0.7rem;
    background-color: #df2b1b;
    border: none;
}
::placeholder{
    color: #595959;
}
.mid:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 0px 0px 30px #91a4e4;
}
.message input{
    height: 2rem;
}